

#containerMayor{
    display: flex;
    justify-content: center;



}

#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 400px;
    row-gap: 5px;
    gap: 5px;
    
    
}




body{
    
    background-color: rgb(115, 111, 105);
    
}

.cuadro{
    background-color: antiquewhite;
    width: 100%;
    height: 150px;
    border: 2px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    cursor: -webkit-grab;
    
}

#btnReiniciar1{
    justify-content: center;
    text-align: center;
}

